
#imageCanvas{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 82%;
    z-index: -1;
    cursor: crosshair;
}

#topBar{
    width:100%;
    height:12vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


.topBarDiv{
    width: 18vw;
    height: 12vh;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


#file-input{
    flex-direction: row;
}

#saveButton{
    padding-top: 2px;
    cursor: pointer;

}

#openDiv{
    padding-top: 2px;
}

#exifInformationHolder{
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    max-width: 600px;
    max-height: 85%;
    background-color: white;
    display: none;
    z-index: 2;

    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    max-height: 88%;
}

#imageScrubberInfo{
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 88%;
    background-color: white;
    display: block;
    z-index: 3;
    font-size: 14px;
    overflow: auto;
    box-sizing: border-box;
}


@media (max-width: 800px) {
    #imageScrubberInfo {
        max-height: 75%;
    }


 #topBar {
    flex-wrap: wrap;
    height:20vh;
    align-items: flex-start;
  }


.topBarDiv{
    width: 33vw;
    height: 8vh;
    max-height:10vh;
    border: 0px solid #ccc;
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;

}


#imageCanvas{
    position: absolute;
    top: 58%;
    max-height: 75%;
}

#continueButtonExif{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
}

#exifScrollDiv{
    position: inline-block;
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;

}

#tempCanvas {
    position:absolute;
    top:-1000px;
    display: none;
}

#holderCanvas {
    position:absolute;
    top:-1000px;
    display: none;
}

#rotationCanvas {
    position:absolute;
    top:-1000px;
    display: none;
}

#about{
  position:absolute;
  bottom: 10px;
  right: 10px;
  z-index: 20;

}

body{
    font-family: Courier;
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
}

button{
font-family: Courier;
    font-size: 12px;
}

#continueButton, #continueButtonExif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


input[type="file"] {
    display: none;
}

.file-open {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* The slider itself */
.slider {
  width: 95%; /* Full-width */
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

#rotate{
        cursor: pointer;
}

.custom-file-open{
    cursor: pointer;
}